:root {
  --color-white: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.5);
  --color-grey: #333;
  --color-grey-transparent: rgba(51, 51, 51, 0.5);
  --color-brand-blue: #2c4664;
  --color-brand-blue-light: #edf1f5;
  --color-brand-green: #c8ff8c;
}
