.card {
  margin-top: 80px;
  position: relative;
  z-index: 10;

  &__background-img {
    border-radius: 32px;
    height: 560px;

    @media screen and (min-width: 768px) {
      width: 377px;
    }

    @media screen and (min-width: 1024px) {
      width: 498px;
    }

    @media screen and (min-width: 1440px) {
      width: 570px;
    }
  }

  &__overlay {
    border-radius: 0 0 0 4px;
    width: 346px;
    height: 144px;
    position: absolute;
    top: 416px;
    background-color: var(--color-white);
    border-radius: 0px 0px 30px 30px;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 16px;

    @media screen and (min-width: 768px) {
      width: 377px;
    }

    @media screen and (min-width: 1024px) {
      width: 498px;
    }

    @media screen and (min-width: 1440px) {
      width: 570px;
    }
  }

  &__svg {
    background-color: var(--color-brand-blue);
    fill: var(--color-brand-green);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    padding-top: 28px;
    margin-top: 32px;
    margin-left: 32px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.3;
    margin-top: 44px;
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: 18px;
    color: var(--color-grey-transparent);
  }

  &__shadow {
    border-radius: 30px;
    width: 282px;
    height: 80px;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
    position: absolute;
    left: 32px;
    right: 32px;
    top: 496px;
    z-index: -1;
    &:nth-child(3) {
      top: 512px;
      width: 218px;
      left: 64px;
    }

    @media screen and (min-width: 768px) {
      width: 315px;
      &:nth-child(3) {
        width: 263px;
      }
    }
    @media screen and (min-width: 1024px) {
      width: 442px;
      &:nth-child(3) {
        width: 386px;
      }
    }

    @media screen and (min-width: 1440px) {
      width: 506px;
      &:nth-child(3) {
        width: 442px;
      }
    }
  }
}
