.owl-carousel {
  margin-top: 80px;

  &__card {
    position: relative;
    border-radius: 30px;
    width: 346px;
    height: 576px;
    padding: 24px;
    background-color: var(--color-white);

    @media screen and (min-width: 768px) {
      width: 692px;
      height: 542px;
    }
    @media screen and (min-width: 1024px) {
      width: 296px;
      height: 606px;
    }
    @media screen and (min-width: 1440px) {
      width: 370px;
      height: 576px;
    }
  }
  &__custom-nav {
    display: flex;
    justify-content: space-between;
    width: 362px;
position: absolute;
z-index: 5;
left: center;
top: 568px;

@media screen and (min-width: 768px) {
      width: 720px;
      top: 514px;
    }
    @media screen and (min-width: 1024px) {
      width: 998px;
    }
    @media screen and (min-width: 1440px) {
      width: 1218px;
    }
  }

  &__custom-prev {
border-radius: 50%;
box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.1);
border: none;
background-color: var(--color-white);
width: 48px;
height: 48px;
rotate: 90deg;
cursor: pointer;
position: relative;
left: -24px;

  }

  &__custom-next {
border-radius: 50%;
box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.1);
border: none;
background-color: var(--color-white);
width: 48px;
height: 48px;
rotate: 270deg;
cursor: pointer;
position: relative;
left: 10px;
overflow: hidden;

     @media screen and (min-width: 1024px) {
left: -46px;
    }
  }
}
