.about-hotel {
  &__container {
    background-color: var(--color-brand-blue-light);
    width: 100%;
    position: relative;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
  }

  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 1024px) {
      gap: 98px;
    }
     @media screen and (min-width: 1440px) {
      gap: 198px;
    }
  }

  &__background-bed {
    padding: 26px 23px 29px 25px;
    border: 1px solid #d8d8d8;
    border-radius: 15px;
    position: absolute;
    top: -210px;
    z-index: 10;

    @media screen and (min-width: 768px) {
      top: 100px;
    }
  }

  &__title {
    max-width: 328px;

    @media screen and (min-width: 768px) {
      padding-top: 260px;
    }
  }

  &__describe {
    margin-top: 32px;
    max-width: 346px;

    @media screen and (min-width: 768px) {
      max-width: 242px;
    }
     @media screen and (min-width: 1024px) {
      max-width: 338px;
    }
  }

  &__button {
    @include button(
      170px,
      var(--color-grey),
      transparent,
      1px solid var(--color-grey-transparent)
    );

    @media screen and (min-width: 768px) {
      margin-top: 52px;
    }
  }

  &__background-element {
    position: absolute;
    top: -40px;
    left: 20px;
    z-index: -1;

    @media screen and (min-width: 768px) {
      top: 170px;
      left: -40px;
    }
  }

  &__upper-block-card {
    border-radius: 15px;
    width: 224px;
    height: 224px;
    position: absolute;
    top: 220px;
    right: -15px;
    background-color: var(--color-white);
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  &__upper-block-percentage {
    position: absolute;
    left: 56px;
    top: 26px;
    font-size: 24px;
  }

  &__upper-block-numeric {
    font-weight: 200;
    font-size: 56px;
    line-height: 1.1;
    margin: 0;
    margin-top: 30px;
  }

  &__upper-block-text {
    color: var(--color-grey-transparent);
  }

  &__upper-block-statistics {
    margin-left: 38px;
    margin-top: 22px;
  }
}
